*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100%;
    background-color: black;
}

#cursor{
    position: fixed;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    font-size: 0.1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer{
    height: 500px;
    width: 700px;
    position: relative;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.innerContainer .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 10;
}
